.vscode/**
.vscode-test/**
.github/**
.pnpm/**
.gitignore
.npmrc
.yarnrc
artifacts/**
esbuild.js
file-types/**
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml
preview/**
scripts/**
src/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.env
.env*
*.vsix
node_modules/**
